# Ignore Visual Studio folder
.vs/

# Ignore build output folders
Debug/
Release/
x64/

# Optionally, you can ignore any folder named Debug, Release, or x64 in subdirectories as well:
**/Debug/
**/Release/
**/x64/
